*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 0.8rem 3rem;
    background-color: #323031;
    color: #c1bdb3;
    position: sticky;
    top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav ul{
    list-style-type: none;
    float: right;
}

nav li, nav p{
    display: inline;
}

nav li{
    padding: 0 1rem;
}

section{
    margin: 2rem 5rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 20px;
}

section .title, section .author{
    text-align: center;
    text-decoration: none;
}

section p{
    text-align: justify;
    margin-bottom: 1rem;
}