*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 1rem 5rem;
    background-color: #9c89b8;
}

nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: black;
}

nav li{
    display: inline;
}

nav .brand{
    font-size: large;
    font-weight: bolder;
    padding-right: 3rem;
}

nav .nav-link{
    margin: 0 1rem;
}


nav a:hover{
    color: white;
}

#introduction{
    text-align: center;
    background-color: #f0e6ef;
    padding: 3rem;
}

#introduction h1{
    font-size: 3rem;
}

#introduction p{
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 2rem;
}

#introduction a{
    background-color: #9c89b8;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 15px;
}

#introduction a:hover{
    background-color: #b8bedd;
}